.donor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.donor-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 15px;
    background-color: rgb(225, 142, 142);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;

}

.donor-button:hover {
    background-color: darkred;
}

.donor-list {
    width: 90%;
    background: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-x: auto;
}

.donor-list h2 {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffcccc;
    color: black;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fff4f4;
}

.donor-form-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.donor-form-box h2 {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.donor-form-box input,
.donor-form-box select,
.donor-form-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.donor-form-box button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.donor-form-box button:hover {
    background-color: darkred;
}